*
{
    box-sizing: border-box;
}
body
{
    /*overflow-y: auto;*/
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.work > div:last-child
{
    width: 50%;
    height: 0vmin;
    margin: 0.7vmin 0vmin 0vmin 0vmin;
    border: 0.3vmin solid #c4b37f;
    border-radius: 5.3vmin;
}
.about > div:last-child
{
    width: 6.7vmin;
    height: 0vmin;
    margin: 0.7vmin 0vmin 0vmin 0vmin;
    border: 0.3vmin solid #a8a8a8;
    border-radius: 5.3vmin;
    transition: width 1.2s ease-in-out;
}
.about:hover div:last-child
{
    width: 50%;
}
.title
{
    /*border: solid 1px white;*/
    font-weight: 700;
    font-size: 4vmin;
    margin-bottom: 0.8vmin;
    margin-top: 14vmin;
    width: 100%;
    float: right;
}
.subtitle
{
    font-weight: 400;
    font-size: 2.4vmin;
    letter-spacing: 0.1vmin;
    /*font-size: 14px;*/
}

/*========================Projects section========================*/
.grid_section
{
    padding-top: 9.3vmin;
    width: 94%;
    height: auto;
    display: none;
    margin: 0vmin auto;
    grid-template-columns: auto auto auto;
    /*grid-gap: 10px; */
}

.grid_content
{
    width: 100%;
    /*height: 450px;*/
    border-right: 2px solid #232323;
    /*border-radius: 4px;*/
    padding: 2.7vmin 3.2vmin 2.7vmin;
    margin: auto; 
    margin-top: 4vmin;
}
.grid_link
{
    width: 100%;
    margin: 0vmin auto;
}
.proj_image
{
    width: 34vmin;
    height: 34vmin;
    border-radius: 4px;
    /*display: block;*/
    align-self: center;
}
.proj_name
{
    padding-top: 1.6vmin;
    font-weight: 700;
    font-size: 2.7vmin;
    color: var(--font-color);
    padding-bottom: 0vmin;
}

.proj_name:hover
{
    cursor: pointer;
}
.proj_image:hover + .proj_name, .proj_name:hover
{
    color:  var(--hover-font-color);
}
.date_tags
{
    font-weight: 400;
    font-size: 2.2vmin;
    color: var(--font-color);
    text-transform: capitalize;
}
.content
{
    padding-top: 1.1vmin;
    color: var(--font-color);
    font-size: 2.6vmin;
    /* line-height: 3.2vmin; */
    font-weight: 100;
    text-align: justify;
    /* letter-spacing: 0.1vmin; */
    /*word-spacing: 4px;*/
    margin: 0vmin auto;
    width: 100%;
}
/* ====================Loader==================== */
.loading
{
    margin: auto;
    min-height: 50vh;
    padding: 2.7vmin;
    display: block;
    margin-top: 13vmin;
}
.loading_text
{
    font-weight: 600;
    font-size: 3vmin;
    /* padding-top: 2.7vmin; */
    letter-spacing: 0.2vmin;
    line-height: 6vmin;
}
.box
{
    width: 12vmin;
    height: 12vmin;
    display: block;
    margin: auto;
    font-size: 3vmin;
}
.loader {
    width: 100%;
	height: 100%;
	/* background-color: currentcolor; */
    border-radius: 50%;
	/* animation: loader 4.0s infinite ease-in-out; */

    transform: rotateZ(45deg);
	perspective: 1000px;
}
@keyframes loader{
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1.0);
		opacity: 0;
	}
}
.loader:before,
.loader:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    animation: 1s spin linear infinite;
}
.loader:before {
    transform: rotateX(70deg);
}
.loader:after {
    transform: rotateY(70deg);
    animation-delay: 0.4s;
}
@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}
@keyframes spin {
	0%,
	100% {
		box-shadow: 0.2em 0px 0 0px currentcolor;
	}
	12% {
		box-shadow: 0.2em 0.2em 0 0 currentcolor;
	}
	25% {
		box-shadow: 0 0.2em 0 0px currentcolor;
	}
	37% {
		box-shadow: -0.2em 0.2em 0 0 currentcolor;
	}
	50% {
		box-shadow: -0.2em 0 0 0 currentcolor;
	}
	62% {
		box-shadow: -0.2em -0.2em 0 0 currentcolor;
	}
	75% {
		box-shadow: 0px -0.2em 0 0 currentcolor;
	}
	87% {
		box-shadow: 0.2em -0.2em 0 0 currentcolor;
	}
}
/* ================================================ */
@media screen and (max-width: 530px)
{
    .grid_section
    {
        width: 100%;
    }
}
@media screen and (max-width: 768px)
{
    .subtitle
    {
        font-size: 3vmin;
    }
    .grid_section
    {
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .grid_content
    {
        border: 0vmin;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .proj_image
    {
        width: 64vmin;
        height: 64vmin;
        font-size: 3.2vmin;
    }
    .proj_name
    {
        margin-bottom: 2vmin;
        font-size: 4vmin;
        line-height: 6vmin;
    }
    .date_tags
    {
        margin-bottom: 1.6vmin;
        font-size: 3.2vmin;
        line-height: 5vmin;
    }
    .content
    {
        font-size: 3.4vmin;
        line-height: 6vmin;
    }
 /*   .content
    {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }*/
}
/* 980 */
@media screen and (max-width: 1750px)
{
    .grid_section
    {
        width: 100%;
        grid-template-columns: auto auto;
    }
    .grid_section > div:nth-child(even)
    {
        border: 0vmin;
    }
    .grid-content
    {
        margin-top: 1.3vmin;
    }
}
@media screen and (min-width: 1750px)
{
    .grid_section > div:nth-child(3n-0)
    {
        border: 0vmin;
    }
}